@charset "utf-8";

@media (min-width: 600px) {
    html{
        width: 100%;
        font-family: "Alata", "Noto Sans JP", sans-serif;
    }
    
    body{
        font-size: 100%;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }
    
    footer{
        width: auto;
        margin-bottom: 0;
        margin-top: 1vw;
    
        padding: 2vw;
        
        background-color: #bed754;
    
        color: #413936;
        font-size: 1.125vw;
        font-family: "Alata", "Noto Sans JP", sans-serif;
        text-align: center;
    }
    
    .sns{
        display: inline;
        font-size: 0.875vw;
    }
    
    .copyright{
        font-size: 0.75vw;
    }
    
    h1{
        display: inline;
        font-size: 2vw;
        font-weight: 700;
    }

    h2{
        display: inline;
        font-size: 1.75vw;
        font-weight: 700;
    }

    h3{
        display: inline;
        font-size: 1.5vw;
        font-weight: 700;
    }

    h4{
        display: inline;
        font-size: 1.25vw;
        font-weight: 700;
    }

    h5{
        display: inline;
        font-size: 1vw;
        font-weight: 700;
    }
}
