@charset "utf-8";

@media screen and (min-width: 600px) {
    html{
        width: 100%;
        font-family: "Alata", "Noto Sans JP", sans-serif;
    }
    
    body{
        font-size: 100%;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }

    .gNavi{
        position: fixed;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        top: 0;
        right: 0;

        width: 17.5vw;
        height: 100vh;

        line-height: 0.8;

        list-style: none;
    }

    .gNavi a{
        display: block;
        text-decoration: none;
    }

    .gNavi .upperNav li{
        margin-bottom: 8vh;
    }

    .gNavi .lowerNav li{
        margin-bottom: 5vh;
    }

    .gNavi li a{
        position: relative;
    }

    .gNavi li a::after{
        content: '';

        position: absolute;
        top: 1.35em;
        left: 10%;

        width: 80%;
        height: 2px;

        transition: all .15s;
        transform: scale(0, 1);
        transform-origin: left top;
    }

    .gNavi .upperNav li a::after{
        background: #f8f8f8;
    }

    .gNavi .lowerNav li a::after{
        background: #bed754;
    }

    .gNavi li a:hover::after{
        transform: scale(1, 1);
    }






    .navTitle{
        display: inline;

        letter-spacing: 0.02vw;
        font-size: 22px;
    }

    .home{
        font-size: 50px;
        margin-bottom: 10vh;
    }

    .followUs{
        font-size: 27px;
        margin-bottom: 5vh;
    }

    .upperNav a{
        text-decoration: none;
        color: #f8f8f8;

        font-size: 20px;
    }

    .lowerNav a{
        text-decoration: none;
        color: #413936;
    }
    
    .upperNav{
        height: 75vh;

        top: 0;
        right: 0;

        padding: 5vh 1vw 4vh 1.75vw;

        background-color:#413936;
        color: #f8f8f8;
    }

    .lowerNav{
        height: 25vh;

        bottom: 0;
        right: 0;

        padding: 2vh 1vw 2vh 1.75vw;

        background-color: #bed754;
        color: #413936;
        font-size: 17px;
    }


    .title{
        width: 79vw;

        top: 0;

        margin-left: 1.875vw;

        padding: 2vh 2vw 0 2vw;

        background-color: #f8f8f8;

        color: #413936;
        text-decoration: none;
        font-size: 75px;

        border-bottom: #bed754 solid 10px;
    }

    .container{
        display: flex;
        flex-direction: column;
        
        width: 79vw;
        margin: 7vh 0 7vh 1.875vw;

        gap: 15px;
    }

    article{
        display: flex;

        width: 75vw;
        
        border: #413936 solid 1px;

        padding: 2vh 1vw 2vh 1vw;

        background-color: #f8f8f8;
        
        color: #413936;
        font-size: 18px;
        line-height: 2.4;

        transition: all .15s;
    }

    article:hover{
        background-color: #413936;
        color: #f8f8f8;
    }

    article img {
        width: 15vw;
        height: fit-content;
        border: #413936 double 4px;
        margin: 0;
        padding: 0;
        position: relative;
    }


    .right {
        padding-left: 20px;
    }

    .articleTitle{
        top: 0;
        margin: 0;
        font-size: 40px;
        line-height: 1.2;
    }

    .right p{
        padding: 0;
        margin: 1vh 0 0 0;
    }

    footer{
        width: 74vw;
        
        margin-left: 1.875vw;

        padding: 2vw;
        
        background-color: #bed754;
    
        color: #413936;
        font-size: 0.875vw;
        font-family: "Alata", "Noto Sans JP", sans-serif;
        text-align: center;
    }
}











@media screen and (max-width: 600px) {
}
