@charset "utf-8";

@media (min-width: 600px) {
    html{
        width: 100%;
        font-family: "Alata", "Noto Sans JP", sans-serif;
    }
    
    body{
        font-size: 100%;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }
    
    header{
        position: absolute;
        z-index: 50;
        width: 100%;
        top: 0
    }
    
    .description{
        width: 60%;
    
        background-color: #eaeaea;
    
        margin-right: auto;
        margin-left: auto;
        margin-top: 7.25vw;
        margin-bottom: 1.5vw;
    
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        font-size: 1.125vw;
        font-weight: 400;
    
        line-height: 2.2;
    }

    .container{
        width: 65%;

        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        margin-right: auto;
        margin-left: auto;

        display: grid;

        gap: 26px;
        grid-template-columns: repeat(3, 1fr);
        
        color: #413936;
    }

    .container a{
        background-color: #eaeaea;
        text-decoration: none;
        color: #413936;

        display: inline-block;
        transition: all 0.4s;
    }

    .container a :hover{
        color: #298080;
    }

    .bigarticle{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        height: auto;

        font-size: 1.1vw;
    }

    .bigarticletitle{
        font-size: 1.6vw;
        font-weight: bold;
    }

    .bigarticletxt{
        line-height: 1.9;
    }

    .imgbig{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .imgnormal{
        width: 100%;
    }

    article{
        padding-bottom: 0.5vw;
        width: 100%;
    }

    article p{
        text-align: justify;

        margin-left: 1vw;
        margin-right: 1vw;
    }

    .normalarticletxt{
        line-height: 1.8;
    }

    .articletitle{
        font-size: 1.2vw;
        font-weight: bold;
    }

    footer{
        width: auto;
        margin-bottom: 0;
        margin-top: 1vw;
    
        padding: 2vw;
        
        background-color: #bed754;
    
        color: #413936;
        font-size: 1.125vw;
        font-family: "Alata", "Noto Sans JP", sans-serif;
        text-align: center;
    }
    
    .sns{
        display: inline;
        font-size: 0.875vw;
    }
    
    .copyright{
        font-size: 0.75vw;
    }
    
    #title{
        color: #413936;
        font-size: 2.25vw;
    
        font-family: "Noto Sans mono", "Noto Sans JP", sans-serif;
        font-weight: 500;
    
        margin-top: 2vw;
        padding-bottom: 0.5vw;
        padding-right: 3.5vw;
        padding-left: 3.5vw;
    
        border-bottom: 0.25vw solid #bed754;
    }
    
    #g-nav{
        position: fixed;
        z-index: 99;
        top: -120%;
        left: 0;
        width: 100%;
        height: 90vh;
        background: #bed754ee;
        transition: all 0.6s;
    }
    
    #g-nav.panelactive{
        top: 0;
    }
    
    #g-nav ul{
        position: absolute;
        z-index: 99;
        top: 47.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #g-nav li{
        list-style: none;
        text-align: center;
        display: block;
    
        color: #f8f8f8;
        text-decoration: none;
        padding: 0.25vw;
        letter-spacing: 0.2em;
        font-size: 2vw;
        font-weight: 800;
        font-family: "Reem Kufi Fun", "Noto Sans JP", sans-serif;
    }
    
    #g-nav li a{
        color: #f8f8f8;
        text-decoration: none;
        display: block;
        letter-spacing: 0.375vh;
        font-size: 1.5vw;
        font-family: "Reem Kufi Fun", "Noto Sans JP", sans-serif;
        font-weight: 300;
        line-height: 1.2;

        transition: all 0.2s;
    }

    #g-nav li :hover{
        transition: all 0.1s;
        font-size: 1.75vw;
    }
    
    .openbtn{
        position: fixed;
        z-index: 100;
    
        top: 0.8vw;
        right: 0.8vw;
        cursor: pointer;
        width: 4vw;
        height: 4vw;
    }
    
    .openbtn span{
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 1.12vw;
        height: 0.24vw;
        background-color: #646873;
        width: 40%;
    }
    
    .openbtn span:nth-of-type(1){
        top: 1vw;
        height: 0.22vw;
    }
    
    .openbtn span:nth-of-type(2){
        top: 2.2vw;
    }
    
    .openbtn.active span:nth-of-type(1) ,
    .openbtn.active span:nth-of-type(2){
        top: 1.8vw;
    }

    .art-title{
        width: 60%;

        background-color: #eaeaea;
    
        margin-right: auto;
        margin-left: auto;
        margin-top: 7.25vw;
        margin-bottom: 0;
    
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 2vw;
        padding-bottom: 0;

        font-size: 2.25vw;
        font-weight: 400;
    }

    .art-titletxt{
        margin: 0;
    }

    .art-date{
        width: 60%;

        background-color: #eaeaea;
    
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
    
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 0.5vw;
        padding-bottom: 0;

        font-size: 0.875vw;
        font-weight: 400;
    }

    .art-datetxt{
        margin: 0;
    }

    .art-lead{
        width: 60%;
    
        background-color: #eaeaea;
    
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 1.5vw;
    
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 1.5vw;

        font-size: 1vw;
        font-weight: 400;

        line-height: 2.2
    }

    .art-leadtxt{
        margin: 0;
    }

    .art-content{
        width: 60%;

        background-color: #eaeaea;

        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 3vw;

        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;

        font-size: 0.875vw;
        font-weight: 300;

        line-height: 2;
    }

    .art-contenttxt{
        margin: 0;
    }

    h1{
        display: inline;
        font-size: 2vw;
        font-weight: 700;
    }

    h2{
        display: inline;
        font-size: 1.75vw;
        font-weight: 700;
    }

    h3{
        display: inline;
        font-size: 1.5vw;
        font-weight: 700;
    }

    h4{
        display: inline;
        font-size: 1.25vw;
        font-weight: 700;
    }

    h5{
        display: inline;
        font-size: 1vw;
        font-weight: 700;
    }

    .programcontainer{
        display: none;

        background-color: #f8f8f8;
        color: #298080;

        width: auto;
        height: auto;

        margin-top: 0.25vw;
        margin-bottom: 0.25vw;
        margin-right: 0;
        margin-left: 1.5vw;

        padding-top: 0.125vw;
        padding-bottom: 0.125vw;
        padding-right: 1vw;
        padding-left: 1vw;

        outline: 0.2vw solid #298080;
        outline-offset: -0.2vw;
        border-radius: 0.25vw;

        text-align: justify;
        
        transition: all 0.5s;
    }

    .programcontainer.active{
        display: block
    }

    .program{
        font-family: "Noto Sans mono", monospace;
        font-size: 0.875vw;
        line-height: 1.5;
    }

    .code{
        background-color: #f8f8f8;
        color: #298080;

        width: 8vw;
        height: auto;

        margin-top: 0.25vw;
        margin-bottom: 0.25vw;
        margin-right: 0;
        margin-left: 0;

        padding-top: 0.25vw;
        padding-bottom: 0.25vw;
        padding-right: 0.5vw;
        padding-left: 0.5vw;

        outline: 0.2vw solid #298080;
        outline-offset: -0.2vw;
        border-radius: 0.25vw;

        cursor: pointer;

        font-size: 1vw;
        text-align: center;

        transition: all 0.2s;
    }

    .code.active{
        display: none;
    }

    .codeclose{
        background-color: #f8f8f8;
        color: #298080;

        width: 8vw;
        height: auto;

        margin-top: 0.25vw;
        margin-bottom: 0.25vw;
        margin-right: 0;
        margin-left: 0;

        padding-top: 0.25vw;
        padding-bottom: 0.25vw;
        padding-right: 0.5vw;
        padding-left: 0.5vw;

        outline: 0.2vw solid #298080;
        outline-offset: -0.2vw;
        border-radius: 0.25vw;

        cursor: pointer;

        font-size: 1vw;
        text-align: center;

        transition: all 0.2s;

        display: none;
    }

    .codeclose.active{
        display: block;
    }

    .code:hover{
        background-color: #298080;
        color: #f8f8f8;

        outline: none;
    }

    .codeclose:hover{
        background-color: #298080;
        color: #f8f8f8;

        outline: none;
    }

    .art-img{
        cursor: pointer;
    }

    .art-img-popup{
        position: fixed;
        z-index: -1;
        top: 15%;
        left: 25%;

        width: 50%;

        opacity: 0;

        transition: all 0.4s ease-in-out;
    }

    .art-img-popup.panelactive{
        z-index: 75;
        opacity: 1;
    }

    .art-img2{
        cursor: pointer;
    }

    .art-img2-popup{
        position: fixed;
        z-index: -1;
        top: 15%;
        left: 25%;

        width: 50%;

        opacity: 0;

        transition: all 0.4s ease-in-out;
    }

    .art-img2-popup.panelactive{
        z-index: 75;
        opacity: 1;
    }

    .art-img3{
        cursor: pointer;
    }

    .art-img3-popup{
        position: fixed;
        z-index: -1;
        top: 15%;
        left: 25%;

        width: 50%;

        opacity: 0;

        transition: all 0.4s ease-in-out;
    }

    .art-img3-popup.panelactive{
        z-index: 75;
        opacity: 1;
    }

    .art-img4{
        cursor: pointer;
    }

    .art-img4-popup{
        position: fixed;
        z-index: -1;
        top: 15%;
        left: 25%;

        width: 50%;

        opacity: 0;

        transition: all 0.4s ease-in-out;
    }

    .art-img4-popup.panelactive{
        z-index: 75;
        opacity: 1;
    }

    .background{
        position: fixed;
        z-index: -1;

        opacity: 0;

        margin: 0;

        width: 100vw;
        height: 100vh;

        top: 0;
        left: 0;

        background-color: #413936;

        transition: all 0.4s ease-in-out;
    }

    .xmark{
        position: fixed;
        z-index: -1;

        top: 3.5vw;
        right: 20vw;

        width: 2vw;
        height: 2vw;

        opacity: 0;

        transition: all 0.4s ease-in-out;
    }

    .xmark.active{
        z-index: 74;
        
        opacity: 1;

        cursor: pointer;

        top: 3.5vw;
        right: 20vw;
    }

    .background.active{
        z-index: 73;
        opacity: 0.5;
    }

    .form{
        width: 60%;
    
        background-color: #eaeaea;
    
        margin-right: auto;
        margin-left: auto;
        margin-top: 1vw;
        margin-bottom: 1.5vw;
    
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        font-size: 1.125vw;
        font-weight: 400;
    
        line-height: 2.2;
    }

    .formname{
        font-family: "Alata", "Noto Sans JP", sans-serif;
        font-size: 0.875vw;

        line-height: 2vw;
        width: 50%;
        padding: 0.25vw;
    }

    .formemail{
        font-family: "Alata", "Noto Sans JP", sans-serif;
        font-size: 0.875vw;

        line-height: 2vw;
        width: 50%;
        padding: 0.25vw;
    }

    .formmessage{
        font-family: "Alata", "Noto Sans JP", sans-serif;
        font-size: 0.875vw;

        line-height: 1.7;
        width: 98%;
        height: calc( 1.7em * 7 );
        padding: 0.25vw;

        top: 0.125vw;
    }

    .formsend{
        font-family: "Alata", "Noto Sans JP", sans-serif;
        font-size: 1.25vw;
        color: #eaeaea;

        background-color: #298080;
        border: none;
        
        margin-top: 1.5vw;

        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;

        cursor: pointer;
    }

    .links{
        background-color: #eaeaea;

        font-family: "Alata", "Noto Sans JP", sans-serif;
        font-size: 1.5vw;
        color: #413936;
        
        width: 55%;

        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-right: auto;
        margin-left: auto;

        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }

    .art-content-in-content{
        background-color: #bed754;
        margin: 0.5vw;
        
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        
        border-radius: 0.25vw;
    }
}