@charset "UTF-8";

:root{
  --backdropfilterDropShadow: 3px 3px 6px #E0E0E0;
}

/* ======================================== */
/* パソコン用 */

html, body{
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;

  background-color: #eff1f4;

  font-family: 'Roboto', 'Noto Sans JP', 'JetBrains Mono', sans-serif;

  scroll-behavior: smooth;
  scroll-padding-top: 3rem;

  font-size: 10px;
}

/* ======================================== */
/* 横のメニューバー */

.sidebar{
  position: fixed;
  z-index: 9;
  width: 10rem;
  height: 100%;

  top: 0;
  right: 0;
  
  background-color: #1c1c1d;

  opacity: 1;

  transition: all .2s;
}

/* ======================================== */
/* メニューバー開閉ボタン */

.openbtn{
  width: 100%;
  height: 100%;

  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  cursor: pointer;
}

.openbtn span{
  display: inline-block;
  transition: all .4s;
  
  left: 0;
  width: 4rem;
  height: 3px;

  background-color: #eff1f4;

  border-radius: 1.5px;
}

.openbtn.active span:nth-of-type(1){
  transform: translateY(calc(0.75rem + 1.5px)) rotate(-225deg);
  width: 3rem;
}

.openbtn.active span:nth-of-type(2){
  transform: translateY(calc(-0.75rem - 1.5px)) rotate(225deg);
  width: 3rem;
}

/* ======================================== */
/* メニュー表示時の黒透過背景 */

#blackover{
  visibility: hidden;
  
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  
  opacity: 0;

  background-color: #00000077;

  transition: all .4s;
}

#blackover.active{
  visibility: visible;
  opacity: 1;
}

/* ======================================== */
/* メニューバー中身 */

#menu{
  position: fixed;
  z-index: 8;
  top: calc((100% - 100rem) / 2);
  right: calc((30% - 100rem) / 2);

  display: block;
  width: 60rem;
  height: 60rem;

  margin: 0;
  padding: 20rem;

  transform: scale(0);
  transform-origin: right center;
  transition: all .4s;
}

#menu.panelactive{
  transform: scale(1);
}

#menu ul{
  display: grid;
  grid-template-rows: 1fr repeat(6, 1fr);

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  line-height: 3rem;

  list-style: none;
}

#menu ul li{
  display: block;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
}

#menu ul li:nth-of-type(1){
  font-size: 4rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;

  line-height: calc(60rem / (1.5 + 1 * 6) * 1.5);
}

#menu ul li a{
  position: relative;

  color: #555555;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Roboto", "Noto Sans JP", sans-serif;

  line-height: calc(60rem / (1.5 + 1 * 6));
  text-decoration: none;
}

#menu ul li span{
  position: absolute;
  left: 50%;
  top: 0;

  transition: all .5s;

  transform: translate(0, 0);

  display: block;
  opacity: 1;
  white-space: nowrap;
}

#menu ul li span:nth-child(1){
  opacity: 1;
  transform: translate(0, 0);
}

#menu ul li span:nth-child(2){
  opacity: 0;
  transform: translate(-100%, 0);
}

/* ======================================== */
/* メニュー表示時の左から出てくる円 */

.circle-bg{
  position: fixed;
  z-index: 7;

  display: block;
  width: 100rem;
  height: 100rem;
  border-radius: 50%;

  background-color: #dddddd;

  transform: scale(0);
  
  right: calc((30% - 100rem) / 2);
  top: calc((100% - 100rem) / 2);

  transform: scale(0);
  transform-origin: right center;
  transition: all .4s;
}

.circle-bg.circleactive{
  transform: scale(1);
}

/* ======================================== */
/* メイン部分 */

main{
  display: block;

  width: calc(100% - 10rem);
  height: auto;

  margin: 0;
  padding: 0;
}

/* ======================================== */
/* ヘッダー */

header{
  height: 15rem;
  width: 100%;

  display: block;
  
  margin: 0 auto 3rem auto;
}

header a{
  display: inline-block;
  width: calc(100% - 40rem);
  height: calc(100% - 8px);

  margin: 0;
  padding: 0 20rem;

  text-align: left;

  color: #1c1c1d;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 5.5rem;

  line-height: 15rem;
  text-decoration: none;
}

span.header-line{
  display: block;
  width: calc(100% - 30rem);
  height: 8px;

  margin: 0 auto;
  padding: 0;

  background-color: #bed555;
  border-radius: 4px;
}

/* ======================================== */
/* 現ページの階層表示 */

.url-leveling{
  display: none;
}

.url-leveling:has(> a){
  display: block;
  
  width: 25%;

  padding: 1% 3%;

  margin: 1% auto 0 auto;

  background-color: #f7f7f8;

  border-radius: 25px;

  filter: drop-shadow(var(--backdropfilterDropShadow));

  transform: scale(1);
  transition: all .3s;

  font-family: Comfortaa, Noto Sans JP, sans-serif;
  color: #999;
  text-decoration: none;
  font-size: 1.5rem;

  text-align: center;
}

.url-leveling a{
  color: #1c1c1d;
  text-decoration: none;
}

.url-leveling a::after{
  content: " / ";

  color: #999;
  text-decoration: none;
}

/* ======================================== */
/* ページトップへのリンク */

#page-top{
  position: fixed;
  right: 9.5%;
  bottom: 4%;
  z-index: 4;

  opacity: 0;
  transform: translateY(100px);
}

#page-top.UpMove{
  animation: UpAnime .5s forwards;
}

@keyframes UpAnime {
  from{
    opacity: 0;
    transform: translateY(100px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#page-top.DownMove{
  animation: DownAnime .5s forwards;
}

@keyframes DownAnime {
  from{
    opacity: 1;
    transform: translateY(0);
  }

  to{
    opacity: 1;
    transform: translateY(100px);
  }
}

#page-top a{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  background-color: #f7a80a;
  border-radius: 5px;
  
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;

  transition: all .3s;
}

/* ======================================== */
/* フッター */

footer{
  display: block;

  width: 60%;
  height: 3rem;

  margin: 5rem auto 0 auto;
  padding: 1.5rem 0;

  background-color: #bed555;

  border-radius: 2rem 2rem 0 0;

}

footer p{
  display: block;
  
  margin: 0 auto;

  
  color: #647129;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;

  text-align: center;
  line-height: 3rem;
}

/* ======================================== */










/* ======================================== */
/* ホバー可能メディアからのアクセス時のみホバースタイルを適用 */

@media (hover: hover){
  .sidebar:hover{
    opacity: 0.9;
  }

  #menu ul li:hover span:nth-child(1){
    opacity: 0;
    transform: translate(100%, 0);
  }
  
  #menu ul li:hover span:nth-child(2){
    opacity: 1;
    transform: translate(0, 0);
  }

  #page-top a:hover{
    background-color: #ff8000;
  }
}

/* ======================================== */










/* ======================================== */
/*スマホ用*/

@media screen and (max-width: 480px){
  html{
    -webkit-text-size-adjust: none;
    font-size: 5px;
  }

  .sidebar{
    width: 8rem;
    height: 100%;
  }

  .openbtn{
    gap: 1rem;
  }

  .openbtn span{
    width: 4rem;
    height: 2px;

    border-radius: 1px;
  }

  .openbtn.active span:nth-of-type(1){
    transform: translateY(calc(0.5rem + 1px)) rotate(-225deg);
    width: 3rem;
  }
  
  .openbtn.active span:nth-of-type(2){
    transform: translateY(calc(-0.5rem - 1px)) rotate(225deg);
    width: 3rem;
  }

  .circle-bg{
    width: 100rem;
    height: 100rem;
    border-radius: 50%;

    right: calc((30% - 100rem) / 2);
    top: calc((100% - 100rem) / 2);
  }
  
  main{
    width: calc(100% - 8rem);
  }

  header a{
    width: calc(100% - 20rem);
    padding: 0 10rem;
  }

  span.header-line{
    width: 80%;
    height: 4px;

    border-radius: 2px;
  }

  #page-top{
    right: 15%;
  }

  #page-top a{
    width: 30px;
    height: 30px;
  }
  
  footer{
    width: 80%;
  }
}

/* ======================================== */